.container{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}
.title{
  display: inline;
  font-size: 1rem;
}
.price{
  margin-left: 1rem;
  display: inline;
  color: darkgray;
}
li{
  list-style: none;
}
.container p{
  margin-left: 20px;
}
