.container{
  width: 100%;
  border: 1px solid lightgray;
}
.title{
  display: inline;
  font-size: 1rem;
}
.price{
  margin-left: 1rem;
  display: inline;
  color: darkgray;
}
li{
  list-style: none;
}
